@import './../styles/variables';

.todo-list-container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 3rem;
    z-index: 4;
    margin-top: 1rem;
    border-radius: $global-border-radius;

    &::after {
        content: 'Drag and drop to reorder list';
        position: absolute;
        color: $dark-dark-grayish-blue;
        font-size: 0.8rem;
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .todo {
        display: flex;
        background: transparent;
        box-sizing: border-box;        
        align-items: center;
        height: 3rem;

        &:last-of-type {
            border-bottom: none;
        }

        label {
            line-height: 3rem;
            height: 100%;
            width: 100%;
            margin: 0 1rem;
            font-family: $font-family;
            font-weight: 400;
            color: $dark-dark-grayish-blue;
            font-size: 0.9rem;
            cursor: pointer;
        }

        input[type=checkbox]:checked ~ label {
            text-decoration: line-through;
        }

        button {
            margin: 0 1rem;
            outline: none;
            border: none;
            background: url('./../assets/svg/icon-cross.svg') no-repeat;
            background-position: center;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
        }
    }

    .filter-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        margin: 0 $global-margin;
        font-size: 0.9rem;
        font-weight: 400;

        & button[type=submit]:last-of-type {
            margin: 0;
            border: none;
            outline: none;
            color: inherit;
            background: transparent;
            font-family: $font-family;
            cursor: pointer;
        }
    }

    &[data-theme=dark] {
        background-color: $dark-very-dark-desaturated-blue;

        .todo {
            border-bottom: 1px solid $dark-very-dark-grayish-blue-hover;

            input[type=checkbox]:not(:checked) ~ label {
               color: $dark-light-grayish-blue;
            }
        }

        .filter-section {
            color: $dark-dark-grayish-blue;

            & button[type=submit]:last-of-type:hover {
                color: $dark-light-grayish-blue-hover;
            }
        }
    }

    &[data-theme=light] {
        background-color: $light-very-light-gray;

        .todo {
            border-bottom: 1px solid $light-light-grayish-blue;

            input[type=checkbox]:not(:checked) ~ label { 
                color: $light-very-dark-grayish-blue;
            }
        }

        .filter-section {
            color: $light-dark-grayish-blue;

            & button[type=submit]:last-of-type:hover {
                color: $light-very-dark-grayish-blue;
            }
        }
    }
}

