@import './../styles/variables';

.todo-list-container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 3rem;

    &[data-theme=dark] {
        background-color: $dark-very-dark-desaturated-blue;
    }
    &[data-theme=light] {
        background-color: $light-very-light-gray;
    }

    z-index: 4;
    margin-top: 1rem;
    border-radius: $global-border-radius;

    .todo {
        display: flex;
        background: transparent;
        box-sizing: border-box;

        &[data-theme=dark] {
            border-bottom: 1px solid $dark-very-dark-grayish-blue-hover;
        }    
        &[data-theme=light] {
            border-bottom: 1px solid $light-light-grayish-blue;
        }
        
        align-items: center;
        height: 3rem;

        &:last-of-type {
            border-bottom: none;
        }

        label {
            line-height: 3rem;
            height: 100%;
            width: 100%;
            margin: 0 1rem;
            font-family: $font-family;
            font-weight: 400;
            color: $dark-dark-grayish-blue;
            font-size: 0.9rem;
            cursor: pointer;
        }

        input[type=checkbox]:checked ~ label {
            text-decoration: line-through;
        }

        input[type=checkbox]:not(:checked) ~ label {
            &[data-theme=dark] {
                color: $dark-light-grayish-blue;
            }    
            &[data-theme=light] {
                color: $light-very-dark-grayish-blue;
            }
        }

        button {
            margin: 0 1rem;
            outline: none;
            border: none;
            background: url('./../assets/svg/icon-cross.svg') no-repeat;
            background-position: center;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
        }
    }

    .filter-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        margin: 0 $global-margin;
        font-size: 0.9rem;
        font-weight: 400;

        &[data-theme=dark] {
            color: $dark-dark-grayish-blue;
        }    
        &[data-theme=light] {
            color: $light-dark-grayish-blue;
        }

        & button[type=submit]:last-of-type {
            margin: 0;
            border: none;
            outline: none;
            color: inherit;
            background: transparent;
            font-family: $font-family;
            cursor: pointer;
            
            &:hover {
                &[data-theme=dark] {
                    color: $dark-light-grayish-blue-hover;
                }    
                &[data-theme=light] {
                    color: $light-very-dark-grayish-blue;
                }
            }
        }
    }
}

