@import './../styles/variables';

.filter-container {
    display: flex;
    position: absolute;
    left: 0;
    bottom: -4rem;
    height: 3rem;
    width: 100%;
    gap: .5rem;
    justify-content: space-around;
    align-items: center;
    background-color: $dark-very-dark-desaturated-blue;
    border-radius: $global-border-radius;
    padding: 0 2rem;

    button {
        color: $dark-very-dark-grayish-blue;
        margin: 0;
        border: none;
        outline: none;
        background: transparent;
        font-family: $font-family;
        cursor: pointer;
    }

    .active-filter {
        color: $color-primary;
    }
}

@media only screen and (min-width: 768px) {
    .filter-container {
        position: initial;
        bottom: 0;
        width: 70%;
        max-width: 45%;
    }
}
