@import './../styles/variables';

.filter-container {
    display: flex;
    position: absolute;
    left: 0;
    bottom: -4rem;
    height: 3rem;
    width: 100%;
    gap: .5rem;
    justify-content: space-around;
    align-items: center;
    border-radius: $global-border-radius;
    padding: 0 2rem;

    button {
       
        margin: 0;
        border: none;
        outline: none;
        background: transparent;
        font-family: $font-family;
        font-weight: 600;
        cursor: pointer;
    }

    &[data-theme=dark] {
        background-color: $dark-very-dark-desaturated-blue;

        button {
            color: $dark-dark-grayish-blue;

            &:hover {
                color: $dark-light-grayish-blue-hover;
            }
        }
    }

    &[data-theme=light] {
        background-color: $light-very-light-gray;

        button {
            color: $light-dark-grayish-blue;

            &:hover {
                color: $light-very-dark-grayish-blue;
            }
        }
    }

    button.active-filter {
        color: $color-primary;

        &:hover {
            color: $color-primary;
        }
    }
}

@media only screen and (min-width: 768px) {
    .filter-container {
        position: initial;
        bottom: 0;
        width: 70%;
        max-width: 45%;
    }
}
