@import './variables';

input[type=checkbox] {
    box-sizing: border-box;
    position: relative;
    outline: none;
    padding: .2rem;
    width: 1.2rem;
    min-width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 1px solid $dark-very-dark-grayish-blue;
    margin-left: $global-margin;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;

    &:checked {
        background: url('./../assets/svg/icon-check.svg') no-repeat, $linear-gradient no-repeat;
        background-size: 80%, 100%;
        background-position: center;
        border: none;
    }

    &:not(:checked) {
        background: $linear-gradient no-repeat;
        background-size: 100%, 100%;
        background-position: center;
        border: none;

        &::after {
            box-sizing: border-box;
            position: absolute;
            content: "";
            top: .8px;
            left: .8px;
            background-color: $dark-very-dark-desaturated-blue;
            width: 92%;
            height: 92%;
            border-radius: 50%;
        }
    }
}
